.panda-background{
    background-color:#fceae8 ;
}
.panda-background h1{
    color: #ff2076;
}
.panda-button {
   background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 9px 25px;
}
.categories img{
    width: 100px;
}
.panda-watch{
    background-color: #ffa500;
}
.panda-bags{
    background-color: #da70d6;
}
.panda-shoes{
    background-color: #0000ff;
}
